body {
    background-color: bisque;
}

.apresentacao {
    margin: 6%;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.apresentacao__conteudo__texto {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    text-decoration: underline;
    padding: 5%
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px; 
    margin-bottom: 10px;
    padding: 5%;
    margin-top: 2%;
}

.apresentacao__links__link {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: black; 
    font-weight: bold;
    text-decoration: none;
}

.apresentacao__links__link:hover {
    color: blue; 
}